# Core
numpy==1.26.4
pandas==2.2.2

# Visualization
matplotlib==3.9.0
seaborn==0.13.2

# Machine Learning
scikit-learn==1.5.1
scipy==1.13.1
xgboost==3.1.2

# Notebooks
jupyter==1.0.0
ipykernel==6.29.5

# Utilities
python-dotenv==1.0.1

# Experiment Tracking
mlflow==3.8.0

# For Deployment
fastapi
uvicorn

# Optional (remove if not used)
flask==3.0.3
